@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
    min-height: 90vh;
}

.main-container {
    background: #fff;
    padding: 2rem;
    border-radius: 1.5rem;
    margin: 4rem 1.8rem 0.5rem;
    width: 20rem;
}

nav {
    border: 0.1rem solid lightgrey;
    border-radius: 1rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    height: 2.3rem;
    position: relative;
    width: 16.4rem;
}

button.tab-btn {
    border: none;
    background: none;
    padding: 0.8rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button.tab-btn.active {
    background: linear-gradient(145deg, #d5a3ff 0%, #77a5f8 100%);
    color: #fff;
    /*width: 5rem;*/
    height: 1.8rem;
}

.main-content-box:not(.active) {
    display: none;
}


.price-details {
    margin: 1.3rem 0 0;
    text-align: center;
    border-bottom: 0.1rem solid #ccc;
    padding-bottom: 0.8rem;
}

.price {
    font-size: 2.5rem;
}

.price::before {
    content: "$";
    font-size: 1rem;
    position: relative;
    top: -1.6rem;
    left: -0.1rem;
}

.price::after {
    content: "/month";
    font-size: 1rem;
    position: relative;
}

ul {
    list-style: none;
    margin: 2rem 0;
}

li {
    display: flex;
    gap: 0.2rem;
    font-size: 0.8rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

li .fa-check {
    background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-btn {
    width: 100%;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 0.9rem;
}

@media (min-width: 425px) {
    body {
        margin: 0 2rem;
    }
}

@media (min-width: 768px) {
    body {
        margin: 0 12.5rem
    }
}

@media (min-width: 1024px) {
    body {
        margin: 0 29.5rem;
    }
}

@media (min-width: 1440px) {
    body {
        margin: 0 33.5rem;
    }
}
